<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
  <script src="components/loader.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/onsenui/js/onsenui.min.js"></script>
  <script src="lib/onsenui/js/angular-onsenui.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/service/delivery.js"></script>
  <script src="js/default/initsql.js"></script>

  <link rel="stylesheet" href="components/loader.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="lib/onsenui/css/onsen-css-components.css">
  <link rel="stylesheet" href="css/style.css">

  <style>
  .text-input--material {
    font-size: 24px;
    height: 40px;
  }
  .categoryName {
    font-size: 18px;
  }
  .clientName {
    font-size: 24px;
  }
  .productName {
    font-size: 24px;
  }
  .weekdayName {
    font-size: 24px;
  }
  </style>
  <script>
    ons.bootstrap(['myApp'])
    ons.ready(function() {
        console.log("Onsen UI is ready!");
    });
</script>
</head>
<body>
  <ons-page ng-controller="AppController">
    <ons-toolbar>
      <div class="center">{{title}}</div>
      <div class="right">{{cource}}コース</div>
    </ons-toolbar>

    <ons-tabbar position="bottom">
      <ons-tab page="page1.html" label="配達先別" active></ons-tab>
      <ons-tab page="page2.html" label="商品別"></ons-tab>
    </ons-tabbar>

    <ons-template id="clientAddDialog.html">
      <ons-dialog var="clientAddDialog" cancelable mask-color="rgba(0, 0, 0, 0.5)">
        <ons-toolbar inline>
          <div class="center">配達先の追加</div>
        </ons-toolbar>
        <div style="padding: 10px;">
      　   <ons-input ng-model="_categoryName" modifier="underbar" placeholder="エリア" type="text"></ons-input>
          <ons-input ng-model="_clientName" modifier="underbar" placeholder="名前" type="text"></ons-input>

          <ons-select ng-model="_productId">
            <option value="">製品を選択してください</option>
            <option ng-repeat="product3 in getProductList" value="{{product3.productId}}">
            {{product3.productName}}</option>
          </ons-select>

          <ons-input ng-model="_mon" modifier="underbar" placeholder="月曜" type="number"></ons-input>
          <ons-input ng-model="_wed" modifier="underbar" placeholder="水曜" type="number"></ons-input>
          <ons-input ng-model="_fri" modifier="underbar" placeholder="金曜" type="number"></ons-input>
          <ons-input ng-model="_other" modifier="underbar" placeholder="他" type="number"></ons-input>

          <ons-button ng-click="insertClient(_categoryName, _clientName, _productId, _mon, _wed, _fri, _other)">登録</ons-button>
        </div>
      </ons-dialog>
    </ons-template>

    <ons-template id="clientUpdDialog.html">
      <ons-dialog var="clientUpdDialog" cancelable mask-color="rgba(0, 0, 0, 0.5)">
        <ons-toolbar inline>
          <div class="center">配達名の変更</div>
        </ons-toolbar>
        <div style="padding: 10px;">
      　   <ons-input ng-model="_categoryName" modifier="underbar" placeholder="エリア" type="text"></ons-input>
          <ons-input ng-model="_clientName" modifier="underbar" placeholder="名前" type="text"></ons-input>
          <ons-button ng-click="updateClient(_clientId, _categoryName, _clientName)">変更</ons-button>
        </div>
      </ons-dialog>
    </ons-template>

    <ons-template id="clientProductAddDialog.html">
      <ons-dialog var="clientProductAddDialog" cancelable mask-color="rgba(0, 0, 0, 0.5)">
        <ons-toolbar inline>
          <div class="center">配達商品の追加</div>
        </ons-toolbar>
        <div style="padding: 10px;">
          <ons-select ng-model="_productId">
            <option value="">製品を選択してください</option>
            <option ng-repeat="product3 in getProductList" value="{{product3.productId}}">
            {{product3.productName}}</option>
          </ons-select>

          <ons-input ng-model="_mon" modifier="underbar" placeholder="月曜" type="number"></ons-input>
          <ons-input ng-model="_wed" modifier="underbar" placeholder="水曜" type="number"></ons-input>
          <ons-input ng-model="_fri" modifier="underbar" placeholder="金曜" type="number"></ons-input>
          <ons-input ng-model="_other" modifier="underbar" placeholder="他" type="number"></ons-input>
          <ons-button ng-click="insertProductForClient(_clientId, _productId, _mon, _wed, _fri, _other)">登録</ons-button>
        </div>
      </ons-dialog>
    </ons-template>

    <ons-template id="productAddDialog.html">
      <ons-dialog var="productAddDialog" cancelable mask-color="rgba(0, 0, 0, 0.5)">
        <ons-toolbar inline>
          <div class="center">商品の追加</div>
        </ons-toolbar>
        <div style="padding: 10px;">
    　     <ons-input modifier="underbar" placeholder="商品名" ng-model="_productName" type="text"></ons-input>
          <ons-button ng-click="insertProduct(_productName)">登録</ons-button>
        </div>
      </ons-dialog>
    </ons-template>

    <ons-template id="productUpdDialog.html">
      <ons-dialog var="productUpdDialog" cancelable mask-color="rgba(0, 0, 0, 0.5)">
        <ons-toolbar inline>
          <div class="center">商品名の変更</div>
        </ons-toolbar>
        <div style="padding: 10px;">
    　     <ons-input modifier="underbar" ng-model="_productName" type="text"></ons-input>
          <ons-button ng-click="updateProduct(_productId, _productName)">変更</ons-button>
        </div>
      </ons-dialog>
    </ons-template>

    <ons-template id="clientProductDelDialog.html">
      <ons-dialog var="clientProductDelDialog" cancelable mask-color="rgba(0, 0, 0, 0.5)">
        <ons-toolbar inline>
          <div class="center">配達商品の削除</div>
        </ons-toolbar>
        <div style="padding: 10px;">
          <ons-button ng-click="deleteData(3, _deliveryId)">削除</ons-button>
        </div>
      </ons-dialog>
    </ons-template>
  </ons-page>

  <ons-template id="page1.html">
    <ons-page>
      <div class="content" style="text-align: center">
        <h2>配達先別</h2>
        <ons-row class="txtLarge">
          <ons-col>
            <ons-button class="btnLarge" ng-click="today()" ng-hide="todayBtnHide">今日</ons-button>
          </ons-col>
          <ons-col><ons-button modifier="large" class="btnLarge" ng-click="prevWeek()">&lt;</ons-button></ons-col>
          <ons-col width="25%" class="txtLarge">{{weekDaySt}}<br/>〜<br/>{{weekDayEd}}</ons-col>
          <ons-col><ons-button modifier="large" class="btnLarge" ng-click="nextWeek()">&gt;</ons-button></ons-col>
          <ons-col>
            <ons-button class="btnLarge" ng-click="insert()" ng-hide="insertBtnHide">追加</ons-button>
            <ons-button class="btnLarge" ng-click="update()" ng-hide="updateBtnHide">更新</ons-button>
            <ons-button class="btnLarge" ng-click="copy()" ng-hide="copyBtnHide">コピー</ons-button>
          </ons-col>
        </ons-row>
        <hr/>

        <table ng-table="vm.tableParams" class="table" show-filter="true" width="100%">
          <tr ng-repeat="delivery in deliveryList">
            <td width="15%">
              <table style="background-color: #fff7f0;" width="100%">
                <tr>
                  <td title="'CategoryName'" class="categoryName" width="50%">
                    {{delivery.categoryName}}</td>
              	</tr>
                <tr>
                  <td title="'ClientName'" class="clientName" width="50%" ng-click="dialogDispUpdClient(delivery.clientId, delivery.categoryName, delivery.clientName)">
                    {{delivery.clientName}}</td>
              	</tr>
              </table>
            </td>
            <td width="85%">
              <table class="table" width="100%">
                <tr>
                  <th width="52%" style="background-color: #eeeeee;" ng-click="dialogDispAddProductForClient(delivery.clientId)">商品</th>
                  <th width="12%" style="background-color: #eeeeee;">月曜</th>
                  <th width="12%" style="background-color: #eeeeee;">水曜</th>
                  <th width="12%" style="background-color: #eeeeee;">金曜</th>
                  <th width="12%" style="background-color: #eeeeee;">他</th>
                </tr>
                <tr ng-repeat="product2 in delivery.products">
                  <td title="'ProductName'" class="productName" style="background-color: #f0f7ff;">
                    <div  ng-click="dialogDispDelProductForClient(product2.deliveryId)">{{product2.productName}}</div></td>
                  <td title="'Mon'" class="weekdayName monday">
                    <ons-input id="mon" modifier="underbar" float ng-model="product2.mon" type="number" min=0 max=99></ons-input>
                    </td>
                  <td title="'Wed'" class="weekdayName wednesday">
                    <ons-input id="wed" modifier="underbar" float ng-model="product2.wed" type="number" min=0 max=99></ons-input>
                    </td>
                  <td title="'Fri'" class="weekdayName thursday">
                    <ons-input id="fri" modifier="underbar" float ng-model="product2.fri" type="number" min=0 max=99></ons-input>
                    </td>
                  <td title="'Other'" class="weekdayName other">
                    <ons-input id="other" modifier="underbar" float ng-model="product2.other" type="number" min=0 max=99></ons-input>
                    </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
        <ons-button class="btnLarge" ng-click="dialogDispAddClient()">配達先追加</ons-button>
      </div>
    </ons-page>
  </ons-template>

  <ons-template id="page2.html">
    <ons-page>

      <div class="content" style="text-align: center">
        <h2>商品別</h2>
        <ons-row class="txtLarge">
          <ons-col></ons-col>
          <ons-col><ons-button class="btnLarge" modifier="large" ng-click="prevWeek()">&lt;</ons-button></ons-col>
          <ons-col width="25%" class="txtLarge">{{weekDaySt}}<br/>〜<br/>{{weekDayEd}}</ons-col>
          <ons-col><ons-button class="btnLarge" modifier="large" ng-click="nextWeek()">&gt;</ons-button></ons-col>
          <ons-col></ons-col>
        </ons-row>
        <hr/>
        <table ng-table="vm.tableParams" class="table" show-filter="true" width="100%">
          <tr>
            <th width="45%" style="background-color: #eeeeee;">商品</th>
            <th width="15%" style="background-color: #eeeeee;">月曜</th>
            <th width="15%" style="background-color: #eeeeee;">水曜</th>
            <th width="15%" style="background-color: #eeeeee;">金曜</th>
            <th width="10%" style="background-color: #eeeeee;">他</th>
          </tr>
          <tr ng-repeat="product in productList">
            <td title="'Name'" class="productName" style="background-color: #f0f7ff;" ng-click="dialogDispUpdProduct(product.productId, product.productName)">
              {{product.productName}}</td>
            <td title="'Mon'" class="weekdayName monday">
              {{product.mon}}</td>
            <td title="'Wed'" class="weekdayName wednesday">
              {{product.wed}}</td>
            <td title="'Fri'" class="weekdayName thursday">
              {{product.fri}}</td>
            <td title="'Other'" class="weekdayName other">
              {{product.other}}</td>
          </tr>
        </table>
        <ons-button class="btnLarge" ng-click="dialogDispAddProduct()">追加</ons-button>

      </div>
    </ons-page>
  </ons-template>
            
</body>
</html>
